.about-section h1 {
  color: #ffff;
  font-size: 2.5rem;
  text-align: center;
}
.about-section p {
  color: #ffff;
  font-size: 1.25rem;
  text-align: center;
  margin-top: 1rem;
}
.more-about-info{
    background-color: #ffff;
    background-size: cover;
    margin: 60px;
}