.application-header {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}

.application-header h1 {
     font-size: 2.5rem; 
     margin-bottom: 10px; } 

.application-header p {
     font-size: 1.25rem;
      color: #555; }





.application-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}